<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


  <context-param>
    <param-name>oauth.auth</param-name>
    <param-value>http://localhost:8280/oauth/auth</param-value>
  </context-param>
  <context-param>
    <param-name>oauth.token</param-name>
    <param-value>http://localhost:8280/oauth/token</param-value>
  </context-param>
  <context-param>
    <param-name>oauth.userinfo</param-name>
    <param-value>http://localhost:8280/oauth/userinfo</param-value>
  </context-param>
  <context-param>
    <param-name>oauth.client</param-name>
    <param-value>sample</param-value>
  </context-param>
  <context-param>
    <param-name>oauth.httpSession</param-name>
    <param-value>true</param-value>
  </context-param>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>hello</web-resource-name>
      <url-pattern>/hello</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
  
  <login-config>
    <auth-method>JASPIC</auth-method>
  </login-config>

  <security-role>
    <role-name>user</role-name>
  </security-role>
  
</web-app>