<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <!-- parameter for wildlfy integration -->
  <context-param>
    <param-name>authEndpoint</param-name>
    <param-value>${oauth.auth}</param-value>
  </context-param>
  <context-param>
    <param-name>tokenEndpoint</param-name>
    <param-value>${oauth.token}</param-value>
  </context-param>
  <context-param>
    <param-name>userInfoEndpoint</param-name>
    <param-value>${oauth.userinfo}</param-value>
  </context-param>
  <context-param>
    <param-name>clientId</param-name>
    <param-value>sample</param-value>
  </context-param>

  <!-- Guest Auth enabled -->
  <context-param>
    <param-name>supportGuest</param-name>
    <param-value>true</param-value>
  </context-param>
  <!-- Auth as guest when token expired -->
  <context-param>
    <param-name>treatInvalidTokenAsGuest</param-name>
    <param-value>true</param-value>
  </context-param>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>hello</web-resource-name>
      <url-pattern>/hello</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>OAUTH</auth-method>
  </login-config>

  <security-role>
    <role-name>user</role-name>
  </security-role>

</web-app>
