<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
				 version="3.0">

	<display-name>PicketLink Identity Provider</display-name>

	<listener>
		<listener-class>org.picketlink.identity.federation.web.listeners.IDPHttpSessionListener</listener-class>
	</listener>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>SAML2 IDP</realm-name>
	</login-config>

</web-app>
